/**
 * CSS for the front end of Premise Time Tracker
 *
 * @Taxonomies   scope: #pwptt-taxonomy-page
 * @Single Timer scope: #pwptt-single-timer
 */

/**
 * @global
 */

p.pwptt-error-message {
	padding: 30px 15px;
	text-align: center;
}

p.pwptt-loading {
	padding: 10% 15px;
	text-align: center;
	font-size: 30px;
}

/**
 * @Taxonomies
 */

#pwptt-taxonomy-page {
	font-size: inherit; /* this controls the size of every element within this container */
}

/* header */
#pwptt-taxonomy-page .pwptt-header {
	padding: 10px 10px 0 10px;
	margin-bottom: 10px;
}

#pwptt-taxonomy-page .pwptt-total-wrapper,
#pwptt-taxonomy-page .pwptt-search-wrapper {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

#pwptt-taxonomy-page .pwptt-search-wrapper {
	width: 98%;
	float: left;
}

#pwptt-taxonomy-page .premise-field {
	margin-bottom: 0;
}

#pwptt-taxonomy-page .pwptt-quick-change-wrapper {
	width: 68%;
	float: left;
	border-right: 1px solid #ddd;
}

#pwptt-taxonomy-page #pwptt-quick-change {
	border: 0;
	padding-bottom: 8px;
}

#pwptt-taxonomy-page #pwptt-search-timesheet {
	border: 0;
	outline: 0;
	padding: 5px 0;
	background-color: transparent;
}

#pwptt-taxonomy-page .pwptt-total-wrapper {
	width: 30%;
	float: right;
	text-align: right;
}

#pwptt-taxonomy-page .pwptt-total {
	margin: 5px 0;
	font-size: 1em;
	display: inline-block;
}

/* body */
#pwptt-taxonomy-page .pwptt-body {
	box-shadow: 0 0 1px #666;
}

/* time card */
#pwptt-taxonomy-page .pwptt-time-card {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

#pwptt-taxonomy-page .pwptt-time-card:nth-child(odd) {
	background-color: #f6f6f6
}

#pwptt-taxonomy-page .pwptt-time-card:last-child {
	border-bottom: 0;
}

#pwptt-taxonomy-page .pwptt-time-card-intro {
	/*cursor: pointer  required for JS to work on mobile */
}

#pwptt-taxonomy-page .pwptt-time-card-title {
	font-size: 1.3em;
	line-height: 1;
	margin-bottom: 5px;
}

#pwptt-taxonomy-page .pwptt-time-card-date {
	font-size: .85em;
	opacity: 0.4;
}

#pwptt-taxonomy-page .pwptt-time-card-time {
	font-size: 1em;
	float: right;
	margin: 0;
}

/* footer */
#pwptt-taxonomy-page .pwptt-footer {
	padding: 5px 10px 10px 10px;
}


/**
 * @Single Timer
 */

#pwptt-single-timer .pwptt-timer-meta {
	padding: 10px;
	background-color: #f6f6f6;
	margin-bottom: 20px;
}

.pwptt-timer-description {
	padding: 0 10px;
}


@media screen and (min-width: 700px) {
	#pwptt-taxonomy-page .pwptt-search-wrapper {
		border-right: 1px solid #ddd;
	}
	#pwptt-taxonomy-page .pwptt-search-wrapper,
	#pwptt-taxonomy-page .pwptt-quick-change-wrapper,
	#pwptt-taxonomy-page .pwptt-total-wrapper {
		width: 33.3333%;
		margin: 10px 0;
		padding: 0 10px;
		box-sizing: border-box;
	}
}