/**
 * CSS for the front end of Premise Time Tracker
 *
 * @Taxonomies scope: body[class*="tax-premise_time_tracker_"]
 */

/**
 * @Taxonomies
 */
body[class*="tax-premise_time_tracker_"] .pwptt-footer {
	/*margin-top: 25px;*/
	padding-top: 15px;
	border-top: 1px solid #ccc;
}

body[class*="tax-premise_time_tracker_"] .pwptt-header {
	/*margin-bottom: 25px;*/
	border-bottom: 1px solid #ccc;
}

body[class*="tax-premise_time_tracker_"] .pwptt-time-tracker {
	/*background-color: #eeeeee;*/
	padding: 20px 10px;
	box-sizing: border-box;
}