body.post-type-premise_time_track {}

/* premise field hidden fix (adds additional margin) */
#premise_time_track .premise-field-type-hidden {
	margin-bottom: 0;
}

/**
 * the meta box
 */
#premise_time_track {
	position: relative;
}
#premise_time_track:after {
	content: '';
	display: table;
	clear: both;
}

.premise-field.ptt-left,
.premise-field.ptt-right {
	width: 50%;
	display: inline-block;
}
.premise-field.ptt-left {
	padding-right: 10px;
}
.premise-field.ptt-right {
	padding-left: 10px;
}

/* Start button */
#ptt_start {
	background-color: #43A743;
	border: 1px solid #43A743;
}

/* Stop button */
.premise-field-type-button.ptt-right {
	text-align: right
}

#ptt_stop {
	background-color: #CA0D0D;
	border: 1px solid #CA0D0D;
}

#ptt_start,
#ptt_stop {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 3px;
	margin: 10px 5px 0;
}

/* Timer */
/*#ptt_meta-date,
#ptt_meta-timer {
	text-align: center;
}*/

/* Expandable fields */
#premise_time_track .ptt-timer-fields {
	/*display: none;*/
	/*margin-top: 20px;*/
}

#premise_time_track .ptt-new-timer {
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	line-height: 20px;
	font-size: 16px;
}



/**
 * The History Meta Box
 */
#premise_time_track_history {}

.ptt-description {
	margin-bottom: 20px;
}

.ptt-time-history > div {
	position: relative;
	border-top: 1px solid #ccc;
	padding: 10px 10px 0 10px;
}

.ptt-time-history > div:last-child {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.ptt-time-history > div > .ptt-delete-time-history {
	content: "\f014";
	font-family: 'FontAwesome';
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 9999;
	top: 1px;
	right: -30px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	color: #444;
	cursor: pointer;
	transition: all .4s ease;
	opacity: 0;
}

.ptt-time-history > div:hover > .ptt-delete-time-history {
	right: 0;
	opacity: 1;
}

.ptt-time-history > div:after {
	content: '';
	display: table;
	clear: both;
}

.ptt-time-history > div .premise-field:not(.premise-field-type-hidden) {
	width: 25%;
	float: left;
	padding: 0;
}

.ptt-time-history > div .premise-field:not(:last-child) {
	padding-right: 20px;
}